extends layout_dashboard

block dashboardContent
  section
    table
      if histogramType == 'duration'
        thead
          th Max Room Duration
          th Last 24 hours
          th Last 7 days
          th
        tbody
          each band in histogramBands
            tr
              td #{band[1]}
              td #{dayHistogram[band[0]]}
              td #{weekHistogram[band[0]]}
              td
                a(href="/dashboard/histograms/occupants?time_band=" + band[0]) Occupants

      if histogramType == 'occupants'
        thead
          th Concurrent Room Occupants
          th Last 24 hours
          th Last 7 days
          th
        tbody
          each band in histogramBands
            tr
              td #{band[1]} 
              td #{dayHistogram[band[0]]}
              td #{weekHistogram[band[0]]}
              td
                a(href="/dashboard/histograms/duration?occupant_count=" + band[1]) Duration


