extends layout_admin

block content
  section.hero
    h3 Talky Core API Server
    h2.supersize #{domains.api}
  section.content-narrower
    h4 Domains
    table
      tbody
        tr
          th API
          td #{domains.api}
        tr
          th Users
          td #{domains.users}
        tr
          th Guests
          td #{domains.guests}
        tr
          th Bots
          td #{domains.bots}
        tr
          th Rooms
          td #{domains.rooms}
        tr
          th ICE
          td
            a(href=iceServer) #{iceServer.replace(/https?:\/\//, '').replace(/:[0-9]+/, '')}
