extends layout_admin

block content
  section.hero
    h3 Talky Core API Server
    h2.supersize #{domains.api}
  section.content-narrower
    h4 Domains
    table
      tbody
        tr
          th API
          td #{domains.api}
        tr
          th Users
          td #{domains.users}
        tr
          th Guests
          td #{domains.guests}
        tr
          th Bots
          td #{domains.bots}
        tr
          th Rooms
          td #{domains.rooms}

    h4 ICE Servers
    ul
      for server, i in iceServers
        li
          a(href=server) #{server}

    h4 Browser Screensharing Extensions 
    table
      tbody
        tr
          th Chrome
          td
            if screensharingExtensions.chrome
              a(href='https://chrome.google.com/webstore/detail/' + screensharingExtensions.chrome) #{screensharingExtensions.chrome}
            else
              Not configured
        if screensharingExtensions.firefox
          tr
            th Firefox (Obsolete)
            td
              a(href='https://addons.mozilla.org/en-US/firefox/addon/' + screensharingExtensions.firefox) #{screensharingExtensions.firefox}
