extends layout_dashboard

block dashboardContent
  section.content-narrower
    table
      thead
        tr
          th
          th Active
          th Last 24 hours
          th Last 7 days
      tbody
        tr
          td Rooms
          td #{activeRoomCount}
          td #{prevDayRoomCount}
          td #{prevWeekRoomCount}
        tr
          td Sessions
          td #{activeSessionCount}
          td #{prevDaySessionCount}
          td #{prevWeekSessionCount}
    table
      thead
        tr
          th Workers
          th Queue Size
          th Queue Clock
      tbody
        tr
          td Events
          td #{eventQueue}
          td #{eventClock}
        tr
          td Room Reports
          td #{roomReportQueue}
          td #{eventClock}

  section
    h1 Recent rooms
    table
      thead
        tr
          th Name
          th Duration
      each val in data
        tr
          td
            a(href='/dashboard/rooms/' + val.id) #{val.name}
          td #{val.duration}
    div
      h3 Pages
      //- each page, index in pages
      //-   span
      //-     a(href='dashboard?limit=25&page=' + (index + 1)) #{index + 1}
