extends layout_dashboard

block dashboardContent
  section
    h1 Recent rooms
    table
      thead
        tr
          th Name
          th Created
          th Wait Time
          th Call Time
          th Size
      each val in data
        tr
          td
            a(href='/dashboard/rooms/' + val.id) #{val.name}
          td #{val.created_at.toLocaleString()}
          td #{val.initialWaitingTime}
          td #{val.usableCallTime}
          td #{val.reports.occupants.maxConcurrent}
    div
      // h3 Pages
      //- each page, index in pages
      //-   span
      //-     a(href='dashboard?limit=25&page=' + (index + 1)) #{index + 1}
