extends layout_dashboard

block dashboardContent
  section
    ul
      li
        a(href='/dashboard') Dashboard
  
    h2 Total Summary
    table
      thead
        tr
          th Period
          th Config Requests
          th Connected Sessions
          th Used TURN
          th Browser Sessions
          th Mobile Sessions
      tbody
        tr
          th Active
          td #{totalStats.active.config_request_count}
          td #{totalStats.active.session_connected_count}
          td #{totalStats.active.used_turn_count}
          td #{totalStats.active.web_count}
          td #{totalStats.active.mobile_count}
        tr
          th Today
          td #{totalStats.one_day.config_request_count}
          td #{totalStats.one_day.session_connected_count}
          td #{totalStats.one_day.used_turn_count}
          td #{totalStats.one_day.web_count}
          td #{totalStats.one_day.mobile_count}
        tr
          th This Week
          td #{totalStats.week.config_request_count}
          td #{totalStats.week.session_connected_count}
          td #{totalStats.week.used_turn_count}
          td #{totalStats.week.web_count}
          td #{totalStats.week.mobile_count}

    h2 Per Customer Summaries
    table
      thead
        tr
          th Customer
          th Period
          th Config Requests
          th Connected Sessions
          th Used TURN
          th Browser Sessions
          th Mobile Sessions
      tbody
        each org in perCustomerStats
          tr
            th #{org.id}
            th Active
            td #{org.active.config_request_count}
            td #{org.active.session_connected_count}
            td #{org.active.used_turn_count}
            td #{org.active.web_count}
            td #{org.active.mobile_count}
          tr
            th #{org.last_activity}
            th Today
            td #{org.one_day.config_request_count}
            td #{org.one_day.session_connected_count}
            td #{org.one_day.used_turn_count}
            td #{org.one_day.web_count}
            td #{org.one_day.mobile_count}
          tr
            th
            th Week
            td #{org.week.config_request_count}
            td #{org.week.session_connected_count}
            td #{org.week.used_turn_count}
            td #{org.week.web_count}
            td #{org.week.mobile_count}
