extends layout_admin

block content

  section
    h3 API Server Setup Checklist

    table
      thead
        tr
          th Installation Step
          th Completed
      tbody
        tr
          th License Key
          td #{hasLicense}
        tr
          th ICE Secret
          td #{hasIceSecret}
        tr
          th ICE Servers
          td #{iceConfigured}      
        tr
          th Screensharing Extensions
          td #{extsConfigured}
        tr
          th Internal Auth Secret
          td #{hasInternalSecret}
        tr
          th Customer Shared Secret
          td #{hasCustomerSecret}
