extends layout_dashboard

block dashboardContent
  h3 User Info
  table
    tr
      th User ID
      td #{resource}
    tr
      th User JID
      td #{user.jid}
    tr
      th Client Type
      td #{user.type}
    tr
      th User Agent
      td #{user.useragent}
    tr
      th Session Length
      td #{user.duration}

  h3 Events
  table
    thead
      th Event
      th Room
      th Time
    tbody
      each val in data
        tr
          td #{val.type}
          td
            a(href='/dashboard/rooms/' + val.room_id) #{val.room_id}
          td #{val.created_at}
