extends layout_dashboard

block dashboardContent
  h3 Room Info
  table
    tr
      th Room ID
      td #{resource}
    tr
      th Room Name
      td #{room.name}
    tr
      th Duration
      td #{room.duration}
    tr
      th Largest Room Size
      td
        if room.reports
          | #{room.reports.activeSessions}
        else
          | Processing
    tr
      th Total Occupants Joined
      td
        if room.reports
          | #{room.reports.totalSessions}
        else
          | Processing

  if similarPrev || similarNext
    h3 Related Rooms
    p This room's name was reused in a short period of time. You may need to check these related rooms for more event logs:
    table
      tr
        th
        th Time Gap
        th Duration
      if similarPrev
        tr
          th
            a(href='/dashboard/rooms/' + similarPrev.id) Previous instance
          td #{similarPrev.delta}
          td #{similarPrev.duration}
      if similarNext
        tr
          th
            a(href='/dashboard/rooms/' + similarNext.id) Next instance
          td #{similarNext.delta}
          td #{similarNext.duration}

  h3 Events
  table
    thead
      th Event
      th Session
      th Time
    tbody
      each val in data
        tr
          td #{val.type}
          td
            a(href='/dashboard/sessions/' + val.actor_id) #{val.actor_id}
          td #{val.created_at}
