extends layout_dashboard

block dashboardContent
  h3 Session Info
  table
    tr
      th Session ID
      td #{session.id}
    tr
      th User ID
      td #{session.user_id}
    tr
      th Client Type
      td #{session.type}
    tr
      th User Agent
      td #{session.useragent}
    tr
      th Session Length
      td #{session.duration}

  h3 Events
  table
    thead
      th Event
      th Room
      th Time
    tbody
      each val in data
        tr
          td #{val.type}
          td
            a(href='/dashboard/rooms/' + val.room_id) #{val.room_id}
          td #{val.created_at}
