extends layout_dashboard

block dashboardContent
  h3 Room Summary
  table
    each row in summary
      tr
        th #{row[0]}
        td #{row[1]}

  if similarPrev || similarNext
    h3 Related Rooms
    p This room's name was reused in a short period of time. You may need to check these related rooms for more event logs:
    table
      tr
        th
        th Time Gap
        th Duration
      if similarPrev
        tr
          th
            a(href='/dashboard/rooms/' + similarPrev.id) Previous instance
          td #{similarPrev.delta}
          td #{similarPrev.duration}
      if similarNext
        tr
          th
            a(href='/dashboard/rooms/' + similarNext.id) Next instance
          td #{similarNext.delta}
          td #{similarNext.duration}

  if report 
    h3 Occupants
    table
      thead
        th #
        th Session 
        th Times Joined 
        th Duration
      tbody
        if report.occupants.occupants.length
          each occupant in room.reports.occupants.occupants
            tr
              td
                a(href='/dashboard/sessions/' + occupant.session) #{shortSessions[occupant.session]} 
              td
                a(href='/dashboard/sessions/' + occupant.session) #{occupant.session} 
              td #{occupant.count}
              td #{occupant.duration}
        else
          tr
            td(colspan=4) No occupants

    h3 Talk Time 
    table
      thead
        th Speaker
        th Times Spoke
        th Times Interrupted
        th Talk Time
        th Talk Time Percentage
      tbody
        if report.speakingTimes.speakers.length
          each speaker in report.speakingTimes.speakers
            tr
              td
                a(href='/dashboard/sessions/' + speaker.speaker) #{shortSessions[speaker.speaker]} 
              td #{speaker.count}
              td #{speaker.interrupts}
              td #{speaker.duration}
              td #{speaker.percentage.toFixed(2)}%
        else
          tr
            td(colspan=4) No speakers

    h3 Media Sessions
    table
      thead
        th Initiator
        th Responder
        th Audio
        th Video
        th Connected
        th Time to Connect/Fail
        th Connection Type
        th Duration
      tbody
        if report.jingle.sessions && report.jingle.sessions.length
          each session in report.jingle.sessions 
            tr
              td
                a(href='/dashboard/sessions/' + session.initiator) #{shortSessions[session.initiator]} 
              td
                a(href='/dashboard/sessions/' + session.responder) #{shortSessions[session.responder]} 
              td #{session.audio ? 'Yes' : 'No'}
              td #{session.video ? 'Yes' : 'No'}
              td #{session.connected ? 'Yes' : 'No'}
              td #{session.connected ? session.connectionTime : session.failedTime}
              td #{session.localCandidateType || '-'} : #{session.remoteCandidateType || '-'} #{session.turnType ? ` : ${session.turnType}` : ''}
              td #{session.duration}
        else
          tr
            td(colspan=6) No sessions
  else
    h3.center
      if room.ended_at
        | Room report is being generated.
      else
        | Room is currently live.

